#quote-box {
  max-width: 35%;
  margin: auto;
  /*margin-top: 100px;*/
  border-radius: 17px 17px 17px 17px;
  text-align: center;
  position: relative;

}

html, body, #root, .Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.author, .quote {
  font-family: 'Inconsolata', monospace;
}

.author {
  text-align: right;
  padding-right: 1.8em;
  padding-left: 1.8em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.quote {
  padding: 1.8em;
}

.fa-quote-left {
  font-size: 1.7em;
}

.fa-twitter {
  font-size: 2.5em;
  float: left;
  margin-left: 80px;
  margin-right: -80px;
}

#new-quote {
  outline: 0;
  display: inline-block;
  /*background-color: #82A0B2;*/ 
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom-width: 3px;
  margin-bottom: 30px; 
}

#new-quote:hover {
  filter: brightness(85%);
}

#new-quote:active {
  filter: brightness(80%);
  border: 0.5px solid rgba(0,0,0,0.2);
}

.Container{

}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
